<h1>  Disclaimer details </h1>
<p>
  <strong>
    Topic:
  </strong>
  <%= @disclaimer.topic%>
</p>
<p>
  <strong>
    Tone:
  </strong>
  <%= @disclaimer.tone%>
</p>
<p>
  <strong>
    Statement:
  </strong>
  <%= simple_format(@disclaimer.statement) %>
</p>
<%= link_to "Back to dashboard", dashboard_path%>
